<footer class="footer">
            <div class="footer-logo">
                <img src="/img/Image 1.png" alt="">
            </div>
            <div class="content">
                <p><a href="#">contact us</a></p>
                <span>|</span>
                <p><a href="#">faq</a></p>
                <span>|</span>
                <p><a href="#">sitemap</a></p>
                <span>|</span>
                <p><a href="#">sitemap</a></p>
                <span>|</span>
                <p><a href="#">privacy policy</a></p>
                <span>|</span>
                <p><a href="#">cookies policy</a></p>
                <span>|</span>
                <p><a href="#">legal notice</a></p>
            </div>
            <div class="social-media">
                <div class="fa-brands fa-instagram"></div>
            </div>
            <div class="footer-logo-mobile">
                <img src="/img/Image 1.png" alt="">
            </div>
        </footer>