<header>
<div class="logo row text-center">
    <div class="col-12">
        <img src="img/Module 1 - Header 970x60025@2x.png" alt="Logo">
    </div>
    <nav class="navbar navbar-expand-lg p-0">
  <div class="container-fluid">
    <button class="navbar-toggler toggler-position" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navdisplay collapse navbar-collapse " id="navbarScroll">
        <ul class="navbar-nav gap-5">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About Us
            </a>
            <ul class="dropdown-menu bg-brown">
                <li><a class="dropdown-item" href="#">all products</a></li>
                <li><a class="dropdown-item" href="#">intibiome welness</a></li>
                <li><a class="dropdown-item" href="#">intibiome active</a></li>
                <li><a class="dropdown-item" href="#">intibiome agecare</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Our Products
            </a>
            <ul class="dropdown-menu bg-brown">
                <li><a class="dropdown-item" href="#">brand philosophy</a></li>
                <li><a class="dropdown-item" href="#">product technology</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Intimate health
        </a>
        <ul class="dropdown-menu bg-brown">
            <li><a class="dropdown-item" href="#">article 1</a></li>
            <li><a class="dropdown-item" href="#">article 2</a></li>
            <li><a class="dropdown-item" href="#">article 3</a></li>
            <li><a class="dropdown-item" href="#">FAQ</a></li>
        </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
        </li>
    </ul>
    </div>
  </div>
</nav>
</div>
<a href=""><div id="" class="fas fa-search search-icon"></div>    </a>
</header>
