<main>
    <section>
        <div class="firstmain">
            <div class="firstmain-img"> 
                <img src="/img/banner-hero.png" alt="">
            </div>
            <div class="firstmain-img-mobile">
                <img src="/img/banner-intibiome-02@2x.png" alt="">
            </div>
            <div class="firstmain-text">
                <h1 class="firstmain-text-title">we're here to help</h1>
                <p class="firstmain-text-content">
                    When it comes to caring for our most intimate areas, we’ve lost our connection. <br> Embarrassed, unwilling, or unable to communicate with others, we’re needlessly neglecting the parts of our bodies that need it most.<br> We’re here to help. Providing you with the expertise, knowledge and products you need to feel confident in your personal care.
                </p>
                <div class="firstmain-icons">
                    <img src="/img/icons@2x.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="secondmain">
            <div class="title">
                <h2>whatever your age. whatever your lifestyle. whatever your interests.</h2>
            </div>
            <div class="text">
                <p>Co-created with gynaecologists, our revolutionary products have been expertly developed to support your intimate microbiome and pH balance, and strengthen overall natural health. <br> <br> As the experts in intimate hygiene, we want to bring discussion about intimate wellness care out of the dark and demystify the taboos that surround it.</p>
            </div>
            <div class="products">
                <h2>Our products</h2>
            </div>
            <div id="carouselProducts" class="carousel carousel-dark slide cards-mobile">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <div class="card">
                        <img src="/img/image mask@2x.png" alt="Image">
                        <div class="card-description">
                            <p>intibiome wellness daily intimate wash</p>
                        </div>
                        <div class="card-footer blue">
                            <h3>wellness</h3>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="card">
                        <img src="/img/image mask-2@2x.png" alt="Image">
                        <div class="card-description">
                            <p>intibiome wellness daily intimate wash</p>
                        </div>
                        <div class="card-footer green">
                            <h3>agecare</h3>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="card">
                        <img src="/img/image mask-1@2x.png" alt="Image">
                        <div class="card-description">
                            <p>intibiome wellness daily intimate wash</p>
                        </div>
                        <div class="card-footer red">
                            <h3>active</h3>
                        </div>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="/img/image mask@2x.png" alt="Image">
                    <div class="card-description">
                        <p>intibiome wellness daily intimate wash</p>
                    </div>
                    <div class="card-footer blue">
                        <h3>wellness</h3>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/image mask-1@2x.png" alt="Image">
                    <div class="card-description">
                        <p>intibiome wellness daily intimate wash</p>
                    </div>
                    <div class="card-footer red">
                        <h3>active</h3>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/image mask-2@2x.png" alt="Image">
                    <div class="card-description">
                        <p>intibiome wellness daily intimate wash</p>
                    </div>
                    <div class="card-footer green">
                        <h3>agecare</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="thirdmain">
            <div class="imagem">
                <img src="/img/Asset 22@2x.png" alt="">
            </div>
            <div class="mobile">
                <img src="/img/banner-intibiome-05@2x.png" alt="">
            </div>
            <div class="title">
                <h2>keep up to date with our discoveries</h2>
            </div>
            <div id="carouselExample" class="carousel-dark carousel slide cards-mobile">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <div class="card">
                        <img src="/img/Screen Shot 2021-02-26 at 17.23.47@2x.png" alt="Image">
                        <div class="card-title">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item ">
                    <div class="card">
                        <img src="/img/Screen Shot 2021-02-26 at 17.23.47-1@2x.png" alt="Image">
                        <div class="card-title">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="card">
                        <img src="/img/Screen Shot 2021-02-26 at 17.23.47-2@2x.png" alt="Image">
                        <div class="card-title">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="/img/Screen Shot 2021-02-26 at 17.23.47@2x.png" alt="Image">
                    <div class="card-title">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/Screen Shot 2021-02-26 at 17.23.47-1@2x.png" alt="Image">
                    <div class="card-title">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/img/Screen Shot 2021-02-26 at 17.23.47-2@2x.png" alt="Image">
                    <div class="card-title">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="see-more">
                <a class="btn" href="#">See more</a>
            </div>
        </div>
    </section>
</main>